body {
  font-family: "Orbitron", sans-serif;
  padding: 0;
  margin: 0;
  background: #200000;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  width: 840px;
  height: 400px;
}